<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register page</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<h1>
		Register
	</h1>
	</br>
	
	<form action="/register" method="POST">
	Nom d'utilisateur
	<input name="name" placeholder="Name"></br>
	Adress email
	<input name="email" placeholder="mail"></br>
	Mot de passe
	<input name="password" type="password" placeholder="MDP"></br>
	
	Confirmer Mot de passe
	<input name="repassword" type="password" placeholder="MDP">
	</br>
	<button type="submit" class="btn btn-primary">
 	 Confirmer</button>
	</form>
</body>
</html>

