<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>register page</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
	<h1>
		Register
	</h1>
	</br>
	Nom d'utilisateur
	<input placeholder="Name"></br>
	Adress email
	<input placeholder="mail"></br>
	Mot de passe
	<input type="password" placeholder="MDP"></br>
	
	Confirmer Mot de passe
	<input type="password" placeholder="MDP">
	</br>
	<button type="button" class="btn btn-primary">
 	 Confirmer</button>
</body>
</html>

